@font-face {
    font-family: ostrich;
    src: url(../fonts/ostrich-sans/ostrich-regular.ttf);
}

.head {
	max-width: 100%;
    height: auto;
    width: auto;
}

#grey {
	background-color: #FFFFFF;
	
}

#design {
	font-family: ostrich;
	font-size: 500%;
	color: #7cffd1;
	padding: 0;
}

#teal {
	background-color: #7cffd1;
	color: #525252;
	font-family: ostrich;
	padding: 5% 4% 4% 4%;
	font-size: 200%;
	letter-spacing: 3px;
}

.title {
	padding: 5%;
	text-align: center;
	font-family: ostrich;
	font-size: 300%;
	color: #525252;
}

.captioncolor {
	color: #525252;
}

.thumblg { 
	max-height: 500px; 
}

.thumbsm { 
	max-height: 150px; 
}

.thumbmd {
	max-height: 200px;
}

.xspadding {
	padding: 1%;
}

.thumbnail {
	text-align: center;
	border-width: 0 !important;
}





